
<mat-card class="add-post-card">
    <mat-card-header>
        <div mat-card-avatar class="add-post-header-image"></div>
        <mat-card-title class="add-post-title accentColor">Add New Post</mat-card-title>
        <mat-card-subtitle class="register-content accentColor">Add Post</mat-card-subtitle>
    </mat-card-header>

    <form class="add-post-form" [formGroup]="addPostForm" (ngSubmit)="addNewPost()">
        <mat-card-content class="add-post-content">

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="add-post-full-width">
                        <mat-label>Description</mat-label>
                        <input matInput placeholder="description" formControlName="text">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="add-post-full-width">
                        <mat-label>Pet Name</mat-label>
                        <input matInput placeholder="Pet Name" formControlName="petName">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="add-post-full-width">
                        <mat-label>Date</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1 color="accent"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="add-post-full-width">
                        <mat-label>Post Type</mat-label>
                        <mat-select formControlName="postType">
                            <mat-option *ngFor="let type of postType" [value]="type.value">
                                {{type.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="add-post-full-width">
                        <mat-label>Age</mat-label>
                        <input matInput type="number" placeholder="age" formControlName="age">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="add-post-full-width">
                        <mat-label>Sitting Start Date</mat-label>
                        <input matInput [matDatepicker]="picker2" formControlName="startSittingDate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 color="accent"></mat-datepicker>
                    </mat-form-field>

                </div>
                <div class="col-md-6">
                    <mat-form-field class="add-post-full-width">
                        <mat-label>Sitting End Date</mat-label>
                        <input matInput [matDatepicker]="picker3" formControlName="endSittingDate">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3 color="accent"></mat-datepicker>
                    </mat-form-field>
                </div>
               
                <div class="col-md-12 mat-label" style="padding-left: 160px;">
                    <mat-radio-group ria-labelledby="Select a gender" formControlName="gender">
                        <mat-radio-button class="col-md-3 accentColor" value="female">Female</mat-radio-button>
                        <mat-radio-button class="col-md-3 accentColor" value="male">Male</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            

            
<div class="row">
    
</div>

         <div class="row">
             <div class="col-md-4">
                <mat-form-field class="add-post-full-width">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="Ex. San Francisco" formControlName="city">
                </mat-form-field>
             </div>
             <div class="col-md-4">
                <mat-form-field class="add-post-full-width">
                    <mat-label>State</mat-label>
                    <input matInput placeholder="Ex. California" formControlName="state">
                </mat-form-field>
             </div>
             <div class="col-md-4">
                <mat-form-field class="add-post-full-width">
                    <mat-label>Postal Code</mat-label>
                    <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" formControlName="zipCode">
                </mat-form-field>
             </div>
         </div>  

        </mat-card-content>
        <mat-card-actions class="add-post-actions">
            <button mat-raised-button color="accent" class="bigFont" type="submit" [disabled]="!addPostForm.valid">Add Post</button>
        </mat-card-actions>
    </form>

</mat-card>