
<mat-card class="login-card" style="margin-top: 100px;">
    <mat-card-header>
      <div mat-card-avatar class="login-header-image"></div>
      <mat-card-title class="login-title">MEWO</mat-card-title>
      <mat-card-subtitle class="login-content">Sign in</mat-card-subtitle>
    </mat-card-header>
   
        <form class="login-form"  [formGroup]="loginForm" (ngSubmit)="signIn()">
          <mat-card-content class="login-content">
            <mat-form-field class="login-full-width">
              <mat-label>Email</mat-label>
              <input matInput  formControlName="email" 
                     placeholder="Ex. pat@example.com" required>
            </mat-form-field>

            <mat-form-field class="login-full-width">
              <mat-label>Password</mat-label>
              <input  matInput  placeholder="Password"  formControlName="password" required>
            
           </mat-form-field>
          
    </mat-card-content>
    <mat-card-actions class="login-actions">
      <button mat-button mat-fab class="sign-in" type="submit" [disabled]="!loginForm.valid">Sign in</button>
      <button mat-button mat-fab class="reset-password" (click)="resetPassword()">Reset</button>
      
    </mat-card-actions>
    <mat-card-actions class="login-actions">
      <button mat-button  class="create-account" (click)="createAccount()">Create Account</button>
    </mat-card-actions>
  </form>
  </mat-card>
