.login-card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5px 5px -1px rgb(255,64,129),
     0px 3px 3px 0px rgba(65, 29, 29, 0.3),
      0px 3px 3px 0px rgba(0, 0, 0, 0.3) !important;
background-color: #fff;
  }
  mat-error{
    color:rgb(255,64,129);
  }
  
  .login-header-image {
    background-image: url('../../assets//images/featured-pet.png');
    background-size: cover;
    width: 75px;
    height: 68px;
  }
  
  .login-title {
    font-size: 40px;
    color: rgb(255,64,129);
  }
  
  .login-content {
    font-size: 24px;
    color: rgb(255,64,129);
  }
  
  .login-actions {
    font-size: 24px;
    text-align: center;
  }

  .login-full-width {
    width: 100%;
  }
  
  ::placeholder{
    color: rgb(255,64,129);
  }
  
  .sign-in {
    color: #ffffff;
    font-size: 24px;
    background-color: rgb(255,64,129);
    width: 70px !important;
    height: 70px !important;
  }
  
  mat-label {
    color: rgb(255,64,129);
  }

  .create-account {
    color: rgb(255,64,129);
    font-size: 24px;
  }
  
  .reset-password {
    color: #ffffff;
    font-size: 24px;
    background-color: rgb(255,64,129);
    width: 70px !important;
    height: 70px !important;
  }
  

  