.reset-card {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 5px -1px rgb(255,64,129),
   0px 3px 3px 0px rgba(65, 29, 29, 0.3),
    0px 3px 3px 0px rgba(0, 0, 0, 0.3) !important;
background-color: #fff;
  }
  
  .reset-header-image {
    background-image: url('../../assets//images/featured-pet.png');
    background-size: cover;
    width: 75px;
    height: 68px;
  }
  
  .reset-title {
    font-size: 40px;
  }
  
  .reset-content {
    font-size: 24px;
    color: rgb(255,64,129);
  }
  
  .reset-actions {
    font-size: 24px;
    text-align: center;
  }

  .reset-full-width {
    width: 100%;
  }
  
  ::placeholder{
    color: rgb(255,64,129);
  } 
  
  .sign-in {
    color: #ffffff;
    font-size: 24px;
    background-color:rgb(255,64,129);
    width: 70px !important;
    height: 70px !important;
  }

  .rest-header-image {
    background-image: url('../../assets//images/featured-pet.png');
    background-size: cover;
    width: 75px;
    height: 68px;
  }
  
  .create-account {
    color: rgb(255,64,129);
    font-size: 24px;
  }
  
  .reset-password {
    color: #ffffff;
    font-size: 24px;
    background-color: rgb(255,64,129);
    width: 70px !important;
    height: 70px !important;
  }
  .accentColor{
    color:rgb(255,64,129)
  }
  

  