<mat-card class="reset-card">
    <mat-card-header>
      <div mat-card-avatar class="reset-header-image"></div>
      <mat-card-title class="reset-title">MEWO</mat-card-title>
      <mat-card-subtitle class="reset-content">Reset Password</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content class="reset-content">
        <form class="reset-form">
            <mat-form-field class="reset-full-width">
              <mat-label>Email</mat-label>
              <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                     placeholder="Ex. pat@example.com">
             
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

          </form>
    </mat-card-content>
    <mat-card-actions class="reset-actions">
      
        
        <button mat-button mat-fab class="reset-password" (click)="resetPassword()">Reset</button>
        <button mat-button mat-fab class="sign-in" (click)="signIn()">Sign in</button>
        
    </mat-card-actions>
    
  </mat-card>

  