.register-card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5px 5px -1px rgba(3, 218, 198, 1), 0px 3px 3px 0px rgba(65, 29, 29, 0.3), 0px 3px 3px 0px rgba(0, 0, 0, 0.3) !important;
    background-color: lightgoldenrodyellow;
}

.register-header-image {
    background-image: url('../../assets//images/featured-pet.png');
    background-size: cover;
    width: 130px;
    height: 100px;
}

.register-title {
    font-size: 40px;
}

.register-content {
    font-size: 24px;
}

.register-actions {
    font-size: 24px;
    text-align: center;
}

.register-full-width {
    width: 100%;
}

.sign-in {
    color: #6200ee;
    font-size: 24px;
}

.resgiter {
    color: #6200ee;
    font-size: 24px;
}

.mat-form-field-infix {
    border-top: 0.1em;
}