<mat-toolbar color="secondary">
    <button mat-icon-button aria-label="menu" class="menu" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    <button mat-button (click)="logOut()">Logout</button>
    <!-- <button mat-button>Menu 2</button>
    <button mat-button [matMenuTriggerFor]="submenu">Menu 3</button>
  
    <mat-menu #submenu="matMenu">
      <button mat-menu-item>Sub-menu 1</button>
      <button mat-menu-item [matMenuTriggerFor]="submenu2">Sub-menu 2</button>
    </mat-menu>
  
    <mat-menu #submenu2="matMenu">
      <button mat-menu-item>Menu Item 1</button>
      <button mat-menu-item>Menu Item 2</button>
      <button mat-menu-item>Menu Item 3</button>
    </mat-menu> -->
  
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav [disableClose]="false" mode="over" #sidenav>
        <mat-nav-list>
        
          <a
            id="services"
            mat-list-item
            [routerLink]="['./services']"
            (click)="sidenav.close()"
            routerLinkActive="active"
          >
            <mat-icon matListAvatar>grid_on</mat-icon>
            <h3 matLine>Home</h3>
            <p matLine>Thanks For Caring</p>
          </a>
          <a
          id="viewpost"
          mat-list-item
          [routerLink]="['./viewpost']"
          (click)="sidenav.close()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
        >
          <mat-icon matListAvatar>home</mat-icon>
          <h3 matLine>View Posts</h3>
          <p matLine>sample home page</p>
        </a>
          <a
          id="userpets"
          mat-list-item
          [routerLink]="['./userpets']"
          (click)="sidenav.close()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
        >
          <mat-icon matListAvatar>home</mat-icon>
          <h3 matLine>My Pets</h3>
          <p matLine>Add your pets</p>
        </a>
        <a
          id="viewUserPosts"
          mat-list-item
          [routerLink]="['./viewUserPosts']"
          (click)="sidenav.close()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
        >
          <mat-icon matListAvatar>home</mat-icon>
          <h3 matLine>My Posts</h3>
          <p matLine>Check Responders</p>
        </a>
        <a
        id="updateProfile"
        mat-list-item
        [routerLink]="['./updateProfile']"
        (click)="sidenav.close()"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <mat-icon matListAvatar>home</mat-icon>
        <h3 matLine>Information</h3>
        <p matLine>Update Personal Info</p>
      </a>
        </mat-nav-list>
      </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>