<mat-card class="register-card" style="margin-top: 50px;">
  <mat-card-header>
    <div mat-card-avatar class="register-header-image"></div>
    <mat-card-title class="register-title font-color">MEWO</mat-card-title>
    <mat-card-subtitle class="register-content font-color">Create Account</mat-card-subtitle>
  </mat-card-header>

  <form class="register-form" [formGroup]="registerForm" (ngSubmit)="createAccount()">
    <mat-card-content class="register-content">

      <mat-form-field class="register-full-width">
        <mat-label class="font-color">Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" required>
      </mat-form-field>

      <mat-form-field class="register-full-width">
        <mat-label class="font-color">Email</mat-label>
        <input matInput formControlName="email" placeholder="Ex. pat@example.com" required>
      </mat-form-field>

      <mat-form-field class="register-full-width">
        <mat-label class="font-color">Phone</mat-label>
        <input matInput placeholder="Phone" formControlName="phone" required>

      </mat-form-field>

      <mat-form-field class="register-full-width">
        <mat-label class="font-color">Password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password" required>
      </mat-form-field>


    </mat-card-content>
    <mat-card-actions class="register-actions">
      <button mat-button class="sign-in" type="submit" [disabled]="!registerForm.valid">Create Account</button>

    </mat-card-actions>
  </form>

</mat-card>