<mat-card class="register-card">
    <mat-card-header>
        <div mat-card-avatar class="register-header-image"></div>
        <mat-card-title class="register-title">MEWO</mat-card-title>
        <mat-card-subtitle class="register-content">Update Profile</mat-card-subtitle>
    </mat-card-header>

    <form class="register-form" [formGroup]="newForm">
        <mat-card-content class="register-content">

            <mat-form-field class="register-full-width">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name" required>
            </mat-form-field>

            <mat-form-field class="register-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Ex. pat@example.com" required>
            </mat-form-field>

            <mat-form-field class="register-full-width">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="Phone" formControlName="phone" required>
            </mat-form-field>

        </mat-card-content>
        <mat-card-actions class="register-actions">
            <button mat-button class="sign-in" type="submit" [disabled]="!newForm.valid" (click)="updateForm()">Update Profile</button>
        </mat-card-actions>
    </form>
</mat-card>